# BeeLight NRF5340 board configuration

# Copyright (c) 2025 Daniel Kampert
# SPDX-License-Identifier: Apache-2.0

if SOC_NRF5340_CPUAPP_QKAA
	config BOARD_BEELIGHT_NRF5340_CPUAPP
		bool "BeeLight nRF5340 Application MCU"

	config BOARD_BEELIGHT_NRF5340_CPUAPP_NS
		bool "BeeLight nRF5340 Application MCU non-secure"
endif

if SOC_NRF5340_CPUNET_QKAA
	config BOARD_BEELIGHT_NRF5340_CPUNET
		bool "BeeLight nRF5340 Network MCU"

endif
