CONFIG_SENSOR=y

CONFIG_SETTINGS=y
CONFIG_SETTINGS_CUSTOM=y

# Use bitbanging I2C because the I2C pins doesn´t work
CONFIG_I2C_GPIO=y

# Light sensor configuration
CONFIG_APDS9306=y

# BME688 configuration
CONFIG_BME680=y
#CONFIG_BME68X_IAQ=y
#CONFIG_BME68X_IAQ_SAMPLE_RATE_QUICK_ULTRA_LOW_POWER=y