CONFIG_SENSOR=y

CONFIG_ADC=y

CONFIG_I2C=y

# Light sensor configuration
CONFIG_APDS9306=y

# BME688 configuration
CONFIG_BME680=n
CONFIG_BME68X_IAQ=y
CONFIG_BME68X_IAQ_SAMPLE_RATE_QUICK_ULTRA_LOW_POWER=y