/ {
	chosen {
		ncs,zigbee-timer = &timer2;
	};
};

&pinctrl {
	pwm0_default_alt: pwm0_default_alt {
		group1 {
			psels = <NRF_PSEL(PWM_OUT1, 0, 31)>;
			nordic,invert;
		};
	};
};

&timer2 {
	status = "okay";
};

&i2c1 {
	bh1750: bh1750@23 {
		status = "okay";
		compatible = "rohm,bh1750";
		reg = <0x23>;
	};
};
